*{
  margin:0;
  padding:0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
      background-size: cover;
      min-height: 100%;
      background: hsla(45, 100%, 88%, 1);
      
        background: linear-gradient(180deg,
            hsla(45, 100%, 88%, 1) 0%,
            hsla(0, 0%, 100%, 1) 100%);
      
        background: -moz-linear-gradient(180deg,
            hsla(45, 100%, 88%, 1) 0%,
            hsla(0, 0%, 100%, 1) 100%);
      
        background: -webkit-linear-gradient(180deg,
            hsla(45, 100%, 88%, 1) 0%,
            hsla(0, 0%, 100%, 1) 100%);
      
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FFEFC1", endColorstr="#FFFFFF", GradientType=1);
}
html {
  height: 100%;
  overflow-y:scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
